@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url(./root.css);

/* max-width */
.max-w-1140 {
    max-width: 1140px !important;
}

.max-w-555 {
    max-width: 555px;
}

.max-w-447 {
    max-width: 447px;
}

.max-w-383 {
    max-width: 383px;
}

.max-w-1060 {
    max-width: 1060px;
}

.max-w-611 {
    max-width: 611px;
}

.max-w-340 {
    max-width: 340px;
}

.max-w-383 {
    max-width: 383px;
}

.max-w-430 {
    max-width: 430px;
}

.max-w-508 {
    max-width: 508px;
}

.max-w-144 {
    max-width: 144px;
}

.max-w-371 {
    max-width: 371px;
}

.max-h-165 {
    max-height: 165px;
}

/* padding */
.py-45 {
    padding-top: 45px;
    padding-bottom: 45px;
}

/* margin */
.mt-50 {
    margin-top: 50px;
}

.mt-83 {
    margin-top: 83px;
}

.mt-80 {
    margin-top: 80px;
}

.mt-155 {
    margin-top: 155px;
}

.mt-60 {
    margin-top: 60px !important;
}

.mb-150 {
    margin-bottom: 150px;
}

.mt-103 {
    margin-top: 103px !important;
}

.mb-126 {
    margin-bottom: 126px;
}

.mt-31 {
    margin-top: 31px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-90 {
    margin-top: 90px;
}

.mt-15 {
    margin-top: 15px;
}

.mb-57 {
    margin-bottom: 57px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-130 {
    margin-top: 130px;
}

/* gap */
.gap-10 {
    gap: 10px;
}

.gap-20 {
    gap: 20px;
}

.gap-40 {
    gap: 40px;
}

.gap-59 {
    gap: 59px;
}

.gap-30 {
    gap: 30px;
}

.gap-36 {
    gap: 36px;
}

/* navbar */
.menu-lines {
    width: 30px;
    height: 5px;
    margin-bottom: 5px;
    display: flex;
    transition: all 300ms linear;
    transform-origin: left;
    border-radius: 10px;
}

.cursor-pointer {
    cursor: pointer;
}

.rotate-42 {
    transform: rotate(42deg);
}

.z-5 {
    z-index: 5;
}

.z-6 {
    z-index: 6;
}

.rotate-43 {
    transform: rotate(-43deg);
}

.nav-btn {
    padding: 13px 45px 13px 45px;
    background: transparent;
    border-radius: 50px;
    border: 1px solid var(--color-radish-lips);
}

/* header */

.circle {
    width: 55px;
    height: 55px;
    border-radius: 70px;
    background: #FFECEC;
}

.get-btn {
    width: 250px;
    height: 60px;
    border-radius: 10px;
    border: none;
    background: var(--color-flamboyant);
}

/* section 2 */
.box {
    max-width: 330px;
    width: 100%;
    border-radius: 10px;
    border: 2px solid #DDDDDD;
    background: #FFFFFF;
    padding: 79px 69px 50px 69px;
}

.box:hover {
    border-color: var(--color-flamboyant);
}

.box-btn {
    border-radius: 50px;
    border: 2px solid var(--color-flamboyant);
    padding: 13px 62px 13px 62px;
}

.box-btn:hover {
    background: var(--color-flamboyant) !important;
    color: #FFFFFF;
}

/* slider */
.slider-card {
    padding: 30px;
    border-radius: 10px;
    border: 2px solid #dddddd;
    min-height: 260px;
}

.slider-start .slick-track {
    display: flex;
    gap: 20px;
}

.slick-slide {
    height: inherit !important;
}

.slider-start .slick-slide>div {
    display: flex;
}

.slider-start .slick-dots li.slick-active {
    background: #F53838;
    width: 45px;
    height: 15px;
    border-radius: 30px;
    right: 43%;
    top: 50px;
}

.slider-start .slick-dots li {
    width: 15px;
    height: 15px;
    border-radius: 100px;
    background: #DDE0E4;
    right: 43%;
    top: 50px;
}

.slider-start .slick-dots li.slick-active button:before {
    color: #F53838;
}

.slider-start .slick-dots li button:before {
    color: #dde0e4;
}

.slider-start .slick-track .slick-slide.slick-current.slick-active {
    border: 2px solid #F53838;
}

.prev {
    position: absolute;
    right: 16%;
    border: 2px solid orangered;
    border-radius: 100px;
    padding: 15px;
    background-color: #ffffff;
}

.prev:hover {
    background-color: #F53838;

    path {
        fill: white;
    }
}

.next {
    position: absolute;
    right: 10%;
    border: 2px solid orangered;
    border-radius: 100px;
    padding: 9.5px;
    background-color: #ffffff;
}

.next:hover {
    background-color: #F53838;

    path {
        fill: white;
    }
}

/* footer */
.footer-box {
    width: 1140px;
    background: white;
    border-radius: 10px;
    padding: 58px 70px;
}

.footer-box-btn {
    padding: 17.5px 66px;
    border-radius: 10px;
    background-color: var(--color-flamboyant);
    border: none;
}

.footer-circle {
    width: 33.6px;
    height: 33.6px;
    border-radius: 50px;
    background: #FFFFFF;
}







@media (max-width:991.98px) {
    .nav-link {
        display: flex !important;
        flex-direction: column;
        width: 100%;
        min-height: 100vh;
        position: fixed;
        justify-content: center;
        bottom: 0;
        right: -100% !important;
        top: 0%;
        transition: all 300ms linear !important;
        z-index: 5;
        background-color: white !important;
    }

    .show-navbar {
        right: 0 !important;
    }

    .mt-40 {
        margin-top: 40px;
    }
}

@media (min-width:768px) {
    .verticle-line {
        border-right: 2px solid #EEEFF2;
    }

    .verticle-line-2 {
        border-right: 2px solid #EEEFF2;
    }
}

@media (max-width:767.98px) {
    .verticle-line {
        border-right: 2px solid #EEEFF2;
    }

    .footer-box {
        padding: 30px 10px;
    }
}

@media (max-width:575.98px) {
    .verticle-line {
        border-right: none;
    }
}