@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url(./root.css);

/* max-width */
.max-w-1140 {
    max-width: 1140px !important;
}

.max-w-555 {
    max-width: 555px;
}

.max-w-447 {
    max-width: 447px;
}

.max-w-383 {
    max-width: 383px;
}

.max-w-1060 {
    max-width: 1060px;
}


.max-w-340 {
    max-width: 340px;
}

.max-w-430 {
    max-width: 430px;
}

.max-w-144 {
    max-width: 144px;
}

.max-w-371 {
    max-width: 371px;
}

/* max-height */
.max-h-165 {
    max-height: 165px;
}

/* padding */
.py-45 {
    padding-top: 45px;
    padding-bottom: 45px;
}

.pb-173 {
    padding-bottom: 173px !important;
}

/* margin */
.mt-50 {
    margin-top: 50px;
}

.mt-83 {
    margin-top: 83px;
}

.mt-80 {
    margin-top: 80px;
}

.mt-155 {
    margin-top: 155px;
}

.mt-60 {
    margin-top: 60px !important;
}

.mt-67 {
    margin-top: 67px !important;
}

.mb-150 {
    margin-bottom: 150px;
}

.mt-103 {
    margin-top: 103px !important;
}

.mb-126 {
    margin-bottom: 126px;
}

.mt-31 {
    margin-top: 31px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-90 {
    margin-top: 90px;
}

.mt-15 {
    margin-top: 15px;
}

.mb-57 {
    margin-bottom: 57px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-130 {
    margin-top: 130px;
}

/* gap */
.gap-10 {
    gap: 10px;
}

.gap-20 {
    gap: 20px;
}

.gap-40 {
    gap: 40px;
}

.gap-59 {
    gap: 59px;
}

.gap-30 {
    gap: 30px;
}

.gap-36 {
    gap: 36px;
}

/* navbar */
.menu-lines {
    width: 30px;
    height: 5px;
    margin-bottom: 5px;
    display: flex;
    transition: all 300ms linear;
    transform-origin: left;
    border-radius: 10px;
}

.cursor-pointer {
    cursor: pointer;
}

.rotate-42 {
    transform: rotate(42deg);
}

.z-5 {
    z-index: 5;
}

.z-6 {
    z-index: 6;
}

.rotate-43 {
    transform: rotate(-43deg);
}

.nav-btn {
    padding: 13px 45px 13px 45px;
    background: transparent;
    border-radius: 50px;
    border: 1px solid var(--color-radish-lips);
}

.nav-btn:hover {
    background: var(--color-flamboyant);
    color: var(--color-white);
}

.text-hover {
    padding: 2px 0;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.text-hover::before {
    content: '';
    background: var(--color-flamboyant);
    position: absolute;
    bottom: 0px;
    width: 0;
    height: 2px;
    transition: all 0.3s ease-in-out;
}

.text-hover:hover::before {
    width: 100%;
}

/* header */

.circle {
    width: 55px;
    height: 55px;
    border-radius: 70px;
    background: #FFECEC;
}

.get-btn {
    width: 250px;
    height: 60px;
    border-radius: 10px;
    border: none;
    background: var(--color-flamboyant);
    box-shadow: 0px 12px 16px 0px rgba(245, 56, 56, 0.35), 0px 17px 50px 0px rgba(245, 56, 56, 0.35);
}

.get-btn:hover {
    color: var(--color-flamboyant) !important;
    background: var(--color-white);
    border: 1px solid var(--color-radish-lips);
}

.btn-shadow {
    top: 0;
    left: 0;
}

.header-box {
    width: 100%;
    background-color: var(--color-white);
    border-radius: 10px
}

.bg-layer {
    top: -40%;
    left: 0;
}

/* section 2 */
.box {
    max-width: 330px;
    width: 100%;
    border-radius: 10px;
    border: 2px solid #DDDDDD;
    background: var(--color-white);
    padding-top: 79px;
    padding-bottom: 50px;
}

.box:hover {
    border-color: var(--color-flamboyant);
}

.box-btn {
    border-radius: 50px;
    border: 2px solid var(--color-flamboyant);
    padding: 13px 62px 13px 62px;
}

.box-btn:hover {
    background: var(--color-flamboyant) !important;
    color: var(--color-white);
    box-shadow: 0px 12px 16px 0px rgba(245, 56, 56, 0.35), 0px 17px 50px 10px rgba(245, 56, 56, 0.35);
}

/* section 3 */
.slider-first .slick-track {
    display: flex;
    gap: 59px;
}

/* section 4 */
.slider-card {
    padding: 30px;
    border-radius: 10px;
    border: 2px solid #dddddd;
    min-height: 260px;
}

.slider-second .slick-track {
    display: flex;
    gap: 20px;
}

.slider-second .slick-slide {
    height: inherit !important;
}

.slider-second .slick-slide>div {
    display: flex;
}

.slider-second .slick-dots li.slick-active {
    background: var(--color-flamboyant);
    width: 45px;
    height: 15px;
    border-radius: 30px;
    right: 43%;
    top: 50px;
}

.slider-second .slick-dots li {
    width: 15px;
    height: 15px;
    border-radius: 100px;
    background: #DDE0E4;
    right: 43%;
    top: 50px;
}

.slider-second .slick-dots li.slick-active button:before {
    color: var(--color-flamboyant);
}

.slider-second .slick-dots li button:before {
    color: #dde0e4;
}

.slider-second .slick-track .slick-slide.slick-current.slick-active {
    border: 2px solid var(--color-flamboyant);
}

.prev {
    width: 60px;
    height: 60px;
    border: 2px solid var(--color-flamboyant);
    border-radius: 50%;
}

.prev:hover {
    background-color: var(--color-flamboyant);

    path {
        fill: var(--color-white);
    }
}

.next {
    width: 60px;
    height: 60px;
    border: 2px solid var(--color-flamboyant);
    border-radius: 50%;
}

.next:hover {
    background-color: var(--color-flamboyant);

    path {
        fill: var(--color-white);
    }
}

/* footer */
.footer-box {
    width: 1140px;
    background: var(--color-white);
    border-radius: 10px;
    padding: 58px 70px;
    transform: translateY(-50%);
}

.btn-shadow-3 {
    top: -30%;
    right: -15%;
}

.footer-box-btn {
    padding: 17.5px 66px;
    border-radius: 10px;
    background-color: var(--color-flamboyant);
    border: 1px solid var(--color-radish-lips);
    box-shadow: 0px 12px 16px 0px rgba(245, 56, 56, 0.35), 0px 17px 50px 0px rgba(245, 56, 56, 0.35);
}

.footer-box-btn:hover {
    color: var(--color-flamboyant) !important;
    background: var(--color-white);
    border: 1px solid var(--color-radish-lips);
}

.footer-circle {
    width: 33.6px;
    height: 33.6px;
    border-radius: 50px;
    background: var(--color-white);
    transition: all 200ms linear;
}

.footer-circle:hover {
    transform: scale(1.2);
}

@media (max-width:991.98px) {
    .nav-link {
        display: flex !important;
        flex-direction: column;
        width: 100%;
        min-height: 100vh;
        position: fixed;
        justify-content: center;
        bottom: 0;
        right: -100% !important;
        top: 0%;
        transition: all 300ms linear !important;
        z-index: 5;
        background-color: var(--color-white) !important;
    }

    .show-navbar {
        right: 0 !important;
    }

    .mt-40 {
        margin-top: 40px;
    }
}

@media (min-width:768px) {
    .verticle-line {
        border-right: 2px solid #EEEFF2;
    }

    .verticle-line-2 {
        border-right: 2px solid #EEEFF2;
    }
}

@media (max-width:767.98px) {
    .verticle-line {
        border-right: 2px solid #EEEFF2;
    }

    .footer-box {
        padding: 30px 10px;
        transform: translateY(-20%);
    }

    .slider-second .slick-dots li {
        display: none;
    }

    .mt-67 {
        margin-top: 24px !important;
    }
}

@media (max-width:575.98px) {
    .verticle-line {
        border-right: none;
    }

    .footer-box {
        transform: translateY(-10%);
    }

    .mt-55 {
        margin-top: 55px !important;
    }
}